.event-category-mid_container {
  width: 100%;
  height: 330px;
  position: relative;
  background-image: url("../../../assets/img/kinoafisha-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.event-category-mid_container .search-field {
  width: 45%;
}
.event-category-mid_container .dimmed-overlay {
  background-color: rgba(44, 66, 81, 0.4);
}
.category-description {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  z-index: 10;
  margin-top: 20px;
}
/* #region Category Render */

.category-event-render_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  background-color: rgba(246, 246, 246);
  padding-bottom: 80px;
}
.day-filter_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.day-filter-each {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  margin: 2px;
  background-color: #e6e7e9;
  height: 70px;
  width: 70px;
}
.day-filter-each:hover {
  cursor: pointer;
}
.day-filter-each-dayN {
  color: rgba(27, 45, 42, 0.9);
  font-size: 11px;
  line-height: normal;
}
.active .day-filter-each-dayN {
  color: rgba(255, 255, 255, 0.7);
}
.day-filter-each-month {
  font-size: 16px;
  font-weight: bold;
  margin-left: 2px;
  color: #2c4251;
}
.active .day-filter-each-month {
  color: rgba(255, 255, 255, 0.7);
}
.day-filter-each-weekday {
  display: block;
  font-size: 13px;
  line-height: normal;
  color: rgba(27, 45, 42, 0.9);
}
.active .day-filter-each-weekday {
  color: #fff;
}
.day-filter_wrapper .active {
  background-color: #577ee8;
  color: #fff !important;
}
.soon-text {
  font-size: 14px;
  color: #577ee8;
}
.category-event-render_wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 1160px;
  margin-top: 100px;
}

/* #endregion Category Render */
